<div class="absolute flex flex-col w-full max-h-[20rem] bottom-0 pt-0 bg-slate-700">
    <div class="flex justify-between items-center pt-1 pb-1 pl-4 pr-4 bg-[#d4d4d4]">
        <p class="text-[20px] text-[#334155] font-bold">Logs</p>
        <p (click)="onMinimize()" class="text-[30px] select-none text-[#334155] font-bold hover:cursor-pointer">
            {{minimizeButtonText}}</p>
    </div>

    <div class="p-3 overflow-y-scroll h-[{{logSize}}] {{isMinimized ? 'hidden' : 'block'}}">
        <div *ngIf="logs">
            <p *ngFor="let item of logs | async" class="text-white text-[15px] mb-2">> [{{item.username}}] -> {{item.action}} {{item.client_name}} on
                {{item.createdAt.toDate() | date: 'dd/MMM/yyyy | HH:mm:ss'}}</p>
        </div>
    </div>
</div>